@import "tailwindcss";

:root {
  --background: #1a0b0b;
  --foreground: #ededed;
  --primary: #f20d0d;
  --primary-hover: #b91c1c;
  --surface: #2d1616;
  --surface-light: #1a1a1a;
  --border: #492222;
  --muted: #888888;
  --radius: 8px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-surface: var(--surface);
  --color-surface-light: var(--surface-light);
  --color-border: var(--border);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Lexend', sans-serif;
}
